{% extends 'authentication/layout.html' %}
{% load static %}
    {% block css %}
        <link rel="stylesheet"  href="{% static 'authentication/styles/password_reset.css' %}">
    {% endblock %}
    {% block script %}
        <script>
        function switch_password_visibility() {
          var x = document.getElementById("password1");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
          var y = document.getElementById("password2");
          if (y.type === "password") {
            y.type = "text";
          } else {
            y.type = "password";
          }
        }
        </script>
    {% endblock %}
    {% block title %}Reset Password{% endblock %}
    {% block body %}

<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<div class="container-form password_reset_div">

    <form method="post">
        {% csrf_token %}
        <div class="col-title">
            <h1 class="title">Reset Password</h1>
        </div>
        <div class="col-form">
            {{ set_password_form.password }}
        </div>
        <div class="col-form">
            {{ set_password_form.password2 }}
        </div>
        <div class="col-form">
            {{ set_password_form.non_field_errors }}
        </div>
         <div class="col-pass-items">
             <input id="show_password" type="checkbox" onclick="switch_password_visibility()">
             <label for="show_password" class="checkbox_text">Show Password</label>
         </div>
         <div class="col-errors">
             {{ form.non_field_errors }}
         </div>
         <div class="col-log-btn">
             <button class="button">Reset</button>
         </div>

    </form>
</div>
    {% endblock %}
